<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
     <add name="GrupoSM_Recepcion.Properties.Settings.GrupoSMConnectionString6"
      connectionString="Data Source=SERVIDOR\SERVIDOR;Initial Catalog=GrupoSM;Persist Security Info=True;User ID=ClienteSistema;Password=147369"
      providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    </configuration>
